/*#region Variable*/
:root {
	--main-bg-color: #f0f1eb;
	--main-txt-color: #f0f1eb;
	--main-heading-color: #2c3d2a;
	--menu-bg-color: #212922;
	--menu-txt-color: #f0f1eb;
}
/*#endregion Variables*/

/*#region Basic Settings*/
/* Basic settings for the entire page */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: var(--main-bg-color);
	background: var(--main-bg-color);
	height: 100%;
	width: 100%;
	font-size: 0px;
	overflow-x: hidden;
}
/*#endregion Basic Settings*/

/*#region Menu*/
header {
	font-family: HindLight, sans-serif;
	display: flex;
	background: var(--menu-bg-color);
	width: 100%;
	height: 75px;
	padding: 0vh 5vw;
	margin: auto;
	align-items: center;
	top: 0;
	transition: 0.25s;
}

.logo-container,
.nav-links,
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.25s;
}

.logo-container {
	flex: 1;
	align-items: center;
	justify-content: flex-start;
	vertical-align: middle;
	float: right;
	clear: right;
}

.logo-container a {
	text-decoration: none;
}

.logo-container img {
	height: 35px;
	margin: 0;
	margin-right: 10px;
	vertical-align: middle;
}

nav {
	flex: 3;
}

.nav-links {
	list-style: none;
	letter-spacing: 1.25px;
}

.nav-links a:hover {
	color: #939a9c;
}

.nav-link {
	color: var(--menu-txt-color);
	font-size: 16px;
	text-decoration: none;
	transition: 0.25s;
	margin: 15px;
}

.burger {
	display: none;
	cursor: pointer;
	float: right;
	clear: right;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: var(--menu-txt-color);
	transition: all 0.25s ease;
	border-radius: 5px;
}

.line2 {
	margin: 5px 0;
}

.overlay {
	position: absolute;
	filter: blur(8px);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*#endregion Menu*/

/* Main margins */
main {
	margin-bottom: 250px;
	margin-top: 75px;
}

/*#region Page Banner*/
.page-banner {
	width: 100%;
	height: calc(100vh - 75px);
	margin: 0px;
	padding: 0px;
	position: relative;
}

.page-banner .page-banner-image {
	height: 100%;
}

.page-banner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0px;
	padding: 0px;
	filter: brightness(50%);
}

.page-banner-text {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.page-banner-text h1 {
	font-size: 75px;
	font-family: HindBold;
	color: var(--main-txt-color);
	padding: 0 5vw;
	margin: 0;
	text-align: center;
}

.page-banner-button {
	display: flex;
	justify-content: center;
}

.page-banner-button button {
	background-color: #6e7869;
	border: none;
	color: var(--main-txt-color);
	width: 325px;
	height: 100px;
	font-size: 32px;
	font-family: HindLight;
	letter-spacing: 1.5px;
	word-spacing: 1px;
	border-radius: 5px;
	transition: 0.25s;
	cursor: pointer;
	position: absolute;
	bottom: 50px;
}

.page-banner-button button:hover {
	background-color: #939a9c;
}
/*#endregion Page Banner*/

/* Columns */
.column-half {
	width: 50%;
}

/*#region Home Page Columns*/
.home-page-columns:after {
	content: "";
	display: table;
	clear: both;
}

.home-page-column {
	width: 100%;
	height: 750px;
	position: relative;
}

.home-page-column .home-page-column-header {
	height: 20%;
	text-align: center;
	align-content: center;
	vertical-align: middle;
	display: flex;
	margin: auto;
}

.home-page-column-header h2 {
	font-size: 50px;
	margin: auto;
	text-align: center;
}

#web-hosting {
	background-color: #746a79;
}

#web-hosting .home-page-column-header {
	background-color: #211f26;
}

#learning {
	background-color: #67968d;
}

#learning .home-page-column-header {
	background-color: #2c5f5c;
}

.home-page-column .home-page-column-content {
	height: 250px;
}

.home-page-column .home-page-column-image {
	width: 100%;
	height: 150px;
	display: block;
}

.home-page-column-image {
	-webkit-mask-image: linear-gradient(to bottom, black, transparent);
	mask-image: linear-gradient(to bottom, black, transparent);
}

.home-page-column-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.home-page-column .home-page-column-text {
	width: 50%;
	margin: auto;
	text-align: left;
	margin-top: 50px;
}

.home-page-column-content .home-page-column-text {
	height: 100%;
}

.home-page-column-text p {
	font-size: 20px;
	color: var(--main-txt-color);
	letter-spacing: 0.5px;
	word-spacing: 1px;
	line-height: 25px;
}

.home-page-column .home-page-column-button {
	display: flex;
	justify-content: center;
}

.home-page-column-button button {
	border: none;
	color: var(--main-txt-color);
	font-family: HindLight;
	width: 200px;
	height: 75px;
	font-size: 24px;
	border-radius: 2.5px;
	transition: 0.25s;
	cursor: pointer;
	position: absolute;
	bottom: 50px;
}

#web-hosting .home-page-column-button button {
	background-color: #211f26;
}

#learning .home-page-column-button button {
	background-color: #2c5f5c;
}

#web-hosting .home-page-column-button:hover button,
#learning .home-page-column-button:hover button {
	background-color: #808183;
}
/*#endregion Home Page Columns*/

/*#region Project Highlights*/
.project-highlights {
	text-align: center;
	margin: auto;
}

.project-highlights h2 {
	background-color: var(--main-heading-color);
	color: var(--main-txt-color);
	width: 100%;
	text-align: center;
	padding: 20px 50px;
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.projects {
	display: inline-block;
	margin: auto;
}

.project {
	background-color: #778e80;
	display: inline-block;
	width: 250px;
	height: 150px;
	padding: 0 25px;
	margin: 0px 50px;
	margin-bottom: 50px;
	color: #f0f1eb;
	border-radius: 5px;
}
/*#endregion Project Highlights*/

/*#region Footer*/
footer {
	background-color: #212922;
	height: 150px;
	align-items: center;
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	bottom: 0;
	transition: 0.25s;
}

/* Logo in footer */
.footer-logo {
	width: 75px;
	margin: auto;
	align-content: center;
	justify-content: center;
	width: 25%;
}

.footer-logo img {
	width: 75px;
	align-self: center;
	justify-self: center;
}

/* Button in footer */
.footer-button input[type="button"] {
	font-family: HindRegular, sans-serif;
	line-height: 37.5px;
	width: 150px;
	height: 75px;
	font-size: 26px;
	border-radius: 5px;
	font-weight: normal;
	text-align: center;
}

.footer-button {
	padding: 0;
	margin: 0 100px;
	align-items: center;
}

/* Contacts in footer */
.footer-contacts {
	margin: auto;
	width: 25%;
}

.footer-contacts img {
	float: right;
	width: 37.5px;
	margin: 12.5px 25px;
}

/* Resize when window size is small */
@media screen and (max-width: 1024px) {
	.footer-button {
		margin: 0 5px;
	}
}

/*#endregion Footer*/

/*#region Media Queries*/
/*#region Extra Small Devices*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/*#endregion Extra Small Devices*/

/*#region Small Devices*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/*#endregion Small Devices*/

/*#region Medium Devices*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.page-banner-button button {
		bottom: 100px;
	}

	.home-page-columns:after {
		content: "";
		display: table;
		clear: both;
	}

	.home-page-column {
		float: left;
		width: 50%;
		height: 800px;
	}

	.home-page-column .home-page-column-header {
		height: 20%;
	}
}
/*#endregion Medium Devices*/

/*#region Large Devices*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.home-page-column {
		height: 600px;
	}

	.home-page-column-text p {
		font-size: 24px;
	}

	.home-page-column .home-page-column-image {
		width: 250px;
		float: left;
	}

	.home-page-column-image img {
		width: 100%;
	}

	.home-page-column-content {
		display: flex;
	}

	.home-page-column-content:after {
		content: "";
		display: table;
		clear: both;
	}

	.home-page-column .home-page-column-text {
		width: 40%;
		float: left;
		margin-top: 25px;
		margin-bottom: 50px;
	}

	.home-page-column-text p {
		font-size: 18px;
	}

	.home-page-column .home-page-column-image {
		width: 175px;
		float: left;
	}
}
/*#endregion Large Devices*/

/*#region Extra Large Devices*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/*#endregion Extra Large Devices*/
/*#endregion Media Queries*/

/*#region Fonts*/
/* Configure fonts */
@font-face {
	font-family: HindLight;
	src: url("/fonts/Hind-Light.ttf");
}

@font-face {
	font-family: HindRegular;
	src: url("/fonts/Hind-Regular.ttf");
}

@font-face {
	font-family: HindBold;
	src: url("/fonts/Hind-Bold.ttf");
}
/*#endregion Fonts*/
